$bg-color: #131313;
$bg-color-light: lighten($bg-color, 8%);

$txt-color: #dddddd;
$txt-color-light: lighten($txt-color, 20%);

html.dark body {
    color-scheme: dark;
    background-color: $bg-color;
    color: $txt-color;

    input,
    textarea {
        background-color: $bg-color-light;
        border-color: lighten($bg-color-light, 10%);
        color: $txt-color-light;

        &:focus {
            background-color: $bg-color-light;
            color: $txt-color-light;
        }
    }

    select {
        background-color: $bg-color-light;
        border-color: lighten($bg-color-light, 10%);
        color: $txt-color-light;

        option,
        &:focus,
        &:active,
        &:hover {
            background-color: $bg-color-light;
            color: $txt-color-light;
        }
    }

    .bg-dark {
        background-color: lighten($bg-color, 10%);
        color: $txt-color;
    }

    .bg-light {
        background-color: $bg-color-light;
        color: $txt-color-light;
    }

    .navbar {
        background-color: $bg-color-light;

        a {
            color: $txt-color-light;

            &:hover {
                color: $primary;
            }
        }

        .navbar-toggler {
            color: $txt-color-light;

            &:hover {
                color: $primary;
            }
        }
    }

    .nav-tabs {
        border-color: lighten($bg-color-light, 10%);
        color: $txt-color-light;

        .nav-item {
            .nav-link {
                color: $txt-color-light;

                &.active,
                &:hover {
                    border-color: lighten($bg-color-light, 10%);
                    background-color: $bg-color-light;
                    color: $primary;
                }
            }
        }
    }

    .footer {
        background-color: $bg-color-light;
        color: $txt-color-light;
    }

    .dropdown-menu {
        background-color: lighten($bg-color-light, 10%);

        .dropdown-item {
            color: $txt-color-light;

            &:hover {
                background-color: $primary;
                color: lighten($bg-color-light, 10%);
            }
        }
    }

    .card {
        background-color: $bg-color-light;
        color: $txt-color-light;

        .card-header {
            background-color: $bg-color-light;
            color: $txt-color-light;
        }

        .card-body {
            background-color: $bg-color-light;
            color: $txt-color-light;
        }

        .card-footer {
            background-color: $bg-color-light;
            color: $txt-color-light;
        }
    }
}